# LiveKit Settings
LIVEKIT_URL=
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=

# General Model Settings
LLM_MODEL=gpt-4o-mini
LLM_TEMPERATURE=0.2

# Azure OpenAI Settings
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_ENDPOINT=
OPENAI_API_VERSION=2024-02-01

# Azure Speech Settings
AZURE_SPEECH_KEY=
AZURE_SPEECH_REGION=

# Do not remove the following line (bug in livekit library)
OPENAI_API_KEY=

# Bing Search
BING_API_KEY=

# Azure Cognitive Search
AZURE_SEARCH_ENDPOINT=
AZURE_SEARCH_API_KEY=
AZURE_SEARCH_INDEX_NAME=
